.articles-container {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    justify-content: center;
}

.article-card {
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 16px;
    width: 300px;
    transition: transform 0.2s;
}

.article-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
}

.article-card h3 {
    margin: 0;
    padding-bottom: 8px;
    border-bottom: 1px solid #eee;
}

.article-card p {
    margin: 8px 0;
}
