<section>
    <div class="articles-container">
        <div class="article-card" *ngFor="let article of articles">
            <h3>{{ article.title }}</h3>
            <p>{{ article.content }}</p>
        </div>
    </div>
</section>
